@import-normalize;



@font-face {
  font-family: "Algerian";
  src: local("Algerian"), url("../fonts/algerian.ttf") format("truetype");
}

@font-face {
  font-family: "Hysteria";
  src: local("Hysteria"),
    url("../fonts/HysteriaRoller.ttf");
}