@import-normalize;

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "Algerian";
  src: local("Algerian"), url("../assets/fonts/algerian.ttf") format("truetype");
}

@font-face {
  font-family: "Hysteria";
  src: local("Hysteria"),
    url("../assets/fonts/HysteriaRoller.ttf");
}